.game-board button {
    display: block;
    width: 100%;
    font-size: 2em;
    padding: 1em;
}

.game-controls button {
    display: block;
    width: 100%;
    font-size: 2em;
    padding: 1em;
}

.game-controls .level {
    padding: 1em;
    font-size: 2em;
    background: rgba(0,0,0,0.5);
    text-align: center;
}

.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    display: none;

    padding: 1em;
    background: rgba(0,0,0,0.25)
}
